* {
    margin: 0;
    box-sizing: border-box;
}

#game-heading {
    text-align: center;
    margin-top: 5vh;
}

#game-section {
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}

.grid-outer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
  
  
.cell {
    width: 150px;
    height: 150px;
    background-color: lightgray;
}

#x-score-outer, #o-score-outer {
    text-align: center;
}

#x-score, #o-score {
    padding-top: 20vh;
    font-size: 5rem;
}

#start-btn-outer{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

#start-btn{
    height: 50px;
    width: 100px;
    font-size: large;
    text-transform: uppercase;
    border: none;
    background-color: bisque;
}