@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
}

body {
    background: #CCC9E7;
}

#game-heading {
    text-align: center;
    margin-top: 5vh;
}

#game-section {
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}

.grid-outer {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: repeat(3, 1fr);
}
  
  
.cell {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

#x-score-outer, #o-score-outer {
    text-align: center;
}

#x-score, #o-score {
    padding-top: 20vh;
    font-size: 5rem;
}

#start-btn-outer{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

#start-btn{
    height: 75px;
    width: 125px;
    font-size: x-large;
    text-transform: uppercase;
    border: none;
    background-color: #F5EE9E;
    border-radius: 10px;
}

#start-btn:hover{
    cursor: pointer;
}

.row-1, .row-2 {
    border-bottom: 2px solid black;
}

.col-1, .col-2 {
    border-right: 2px solid black;
}

@media (max-width: 850px) {
    .grid-outer {
        grid-template-rows: 100px 100px 100px;
    }
    .cell{
        width: 100px;
    }
    #x-score-outer h2, #o-score-outer h2{
        font-size: 1rem;
    }
    #x-score, #o-score {
        padding-top: 10vh;
        font-size: 2rem;
    }
}

@media (max-width: 550px) {
    #game-section {
        position: relative;
    }
    #x-score-outer, #o-score-outer {
        position: absolute;
        top: 38vh;
    }
    #x-score-outer {
        left: 10vw;
    }
    #o-score-outer {
        right: 10vw;
    }
    #x-score, #o-score {
        padding-top: 3vh;
    }
}